body {
  background: #556270;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(57, 101, 138), #4d96e4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(77, 123, 209, 0.589), #1f5da0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

td:nth-child(even) {background-color: #ddd9c3d5;}

.output {
  color: rgb(28, 105, 51);
}

.jumbotron{
margin-top: 20px;
background-image: url(https://img00.deviantart.net/d6c1/i/2015/134/6/9/stock_sky_dark_cloud_background_by_amka_stock-d8tbbe3.jpg);
background-size: cover;
color: white;
}